/* Google fonts. */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

*, *:before, *:after
{
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html
{
	background: #012 url('../images/background.jpg') no-repeat center center fixed;
	background-size: cover;
}

body
{
	background-color: #00060C;
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, .75) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, .75) 100%);
	border-right: 1px solid #FFF;
	color: #FFF;
	display: inline-block;
	font-family: Lato;
	font-weight: 300;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 20vh 10vw 3vw 3vw;
	width: calc(100% - calc(100vh / 3 + 5vh));
}

a
{
	outline: 0;
}

h1
{
	cursor: default;
	font-size: 7vw;
	font-family: Lato;
	font-weight: 300;
	display: block;
	margin: 0;
	text-shadow: 0 5px 5px #000;
}

#bio
{
	height: 0;
	overflow: hidden;
	width: 0;
}

ul#tagline
{
	cursor: default;
	margin: 0;
	padding: 0;
}

ul#tagline li
{
	display: inline;
	font-size: 2vw;
	font-family: Lato;
	font-weight: 300;
	text-shadow: 0 5px 5px #000;
}

ul#tagline li::after
{
	content: "\00B7";
	margin: 0 .75vw;
	opacity: .5;
}

ul#tagline li:first-child::before
{
	content: "Software ";
}

ul#tagline li:last-child::after
{
	content: "";
}

#contact
{
	cursor: default;
	font-size: calc(1.5vw);
	margin-top: 6vw;
}

#contact .text
{
	color: #89A !important;
	text-shadow: 0 5px 5px #000;
}

#contact .text::after
{
	content: "For all inquiries, please email me at:";
}

#contact .email
{
	color: #FFF;
	display: table;
	text-decoration: none;
	text-shadow: 0 5px 5px #000;
}

#contact .email:hover
{
	color: #89A;
}

#social
{
	cursor: default;
	position: absolute;
	right: 0;
	top: 0;
}

#social .fa-stack
{
	display: block;
	font-size: calc(100vh / 3 / 2);
	margin: 0 calc(2.5vh) 0;
	opacity: .25;
}

#social .fa-stack:hover
{
	cursor: pointer !important;
	opacity: .5;
}

#social .fa-stack:active i
{
	opacity: .25;
}

#social .fa-stack:active, #social .fa-stack:active a
{
	opacity: 1;
}

#social .fa-stack i
{
	color: #000;
}

#social .fa-stack a
{
	color: #FFF;
	text-decoration: none;
}

/* Cool effects. */
#cover
{
	background-color: #00060C;
	color: #FFF;
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw;
}

#cover img
{
	position: absolute;
	left: calc(50% - 100px);
	top: calc(50% - 100px);
}

/* Media queries. */
@media (min-width: 220vh)
{
	body
	{
		padding: 10vh 10vw 3vw 3vw;
	}
}

@media (max-width: 1200px)
{
	ul#tagline li
	{
		font-size: 2vw;
	}

	#contact
	{
		font-size: 3vw;
	}
}

@media (orientation: portrait)
{
	body
	{
		background-image: none;
		border-right: none;
		padding: 0;
		text-align: center;
		width: 100vw;
	}

	h1
	{
		background-color: rgba(0, 0, 0, .5);
		border-bottom: 1px solid rgba(255, 255, 255, .25);
		font-size: 10vw;
		font-weight: 400;
		margin: 0;
		padding: 5vh 0 3vh;
		width: 100vw;
	}

	ul#tagline
	{
		margin: 7vh 0;
		width: 100vw;
	}

	ul#tagline li
	{
		font-size: 5vw;
	}

	ul#tagline li:first-child::before
	{
		content: "";
	}

	ul#tagline li::after
	{
		content: "/";
		margin: 0 1vw;
		opacity: .25;
	}

	#contact
	{
		bottom: 10vh;
		font-size: 7vw;
		position: absolute;
		width: 100vw;
	}

	#contact .text
	{
		font-weight: 400;
	}

	#contact .text::after
	{
		content: "For all inquiries:";
	}
	
	#contact .email
	{
		display: block;
	}

	#social
	{
		cursor: default;
		left: 0;
		position: absolute;
		top: 40vh
	}

	#social .fa-stack
	{
		display: inline-block;
		font-size: calc(100vw / 3.5 / 2);
		margin: 0;
		opacity: .5;
	}
	
	#social .fa-stack:hover
	{
		opacity: 1;
	}
	
	#social .fa-stack i
	{
		text-shadow: 1px 1px 0 rgba(255, 255, 255, .25), 1px -1px 0 rgba(255, 255, 255, .25), -1px 1px 0 rgba(255, 255, 255, .25), -1px -1px 0 rgba(255, 255, 255, .25);
	}
}

/* Unobfuscate email address. */
.email:before
{
	content: attr(data-website) "\0040" attr(data-user);
	unicode-bidi: bidi-override;
	direction: rtl;
}